<?xml version="1.0"?>
<config>
	<fieldset name="global" label="JGLOBAL_FIELDSET_OPTIONS">
		<field name="sef_advanced" type="hidden" default="1"/>
		<field name="secret" type="hidden"/>
		<field name="company_tags" type="sql"
			   label="COM_COMPANIES_PARAMS_COMPANY_TAGS"
			   query="SELECT id, title FROM #__tags WHERE level = 1"
			   key_field="id"
			   value_field="title"
			   multiple="true"/>
		<field name="companies_limit" type="list"
			   label="COM_COMPANIES_PARAMS_COMPANIES_LIMIT"
			   default="10">
			<option value="5">J5</option>
			<option value="10">J10</option>
			<option value="15">J15</option>
			<option value="20">J20</option>
			<option value="25">J25</option>
			<option value="30">J30</option>
			<option value="50">J50</option>
			<option value="100">J100</option>
			<option value="0">JALL</option>
		</field>
		<field name="search_placeholder" type="text"
			   label="COM_COMPANIES_PARAMS_SEARCH_PLACEHOLDER"
			   class="input-xlarge"
			   size="40"/>
		<field name="list_layout" type="componentlayout"
			   label="COM_COMPANIES_PARAMS_LIST_LAYOUT"
			   extension="COM_COMPANIES"
			   view="list"/>
		<field name="company_layout" type="componentlayout"
			   label="COM_COMPANIES_PARAMS_COMPANY_LAYOUT"
			   extension="com_companies"
			   view="company"/>
	</fieldset>
	<fieldset name="permissions"
			  label="JCONFIG_PERMISSIONS_LABEL"
			  description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules"
			   label="JCONFIG_PERMISSIONS_LABEL"
			   class="inputbox"
			   validate="rules"
			   filter="rules"
			   component="com_companies"
			   section="component"/>
	</fieldset>
</config>
